In [1]:
import graphlab

In [3]:
people = graphlab.SFrame("people_wiki.gl/")

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\Jichao\AppData\Local\Temp\graphlab_server_1496274077.log.0

This non-commercial license of GraphLab Create for academic use is assigned to jichaozh@usc.edu and will expire on May 26, 2018.

In [4]:
obama = people[people['name'] == "Barack Obama"]

In [6]:
obama['word_count'] = graphlab.text_analytics.count_words(obama['text'])

In [7]:
obama_word_count = obama[['word_count']].stack("word_count", 
                                               new_column_name=['word', 'count'])

In [8]:
obama_word_count = obama_word_count.sort("count", ascending=False)

In [10]:
people['word_count'] = graphlab.text_analytics.count_words(people['text'])

In [11]:
tf_idf = graphlab.text_analytics.tf_idf(people['word_count'])

In [17]:
people['tfidf'] = tf_idf

In [18]:
obama = people[people['name'] == 'Barack Obama']

In [21]:
obama[['tfidf']].stack('tfidf',
                       new_column_name=['word', 'tfidf']).sort('tfidf', ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 273

Data:
+-------------+---------------+
|     word    |     tfidf     |
+-------------+---------------+
|    obama    | 43.2956530721 |
|     act     |  27.678222623 |
|     iraq    |  17.747378588 |
|   control   | 14.8870608452 |
|     law     | 14.7229357618 |
|   ordered   | 14.5333739509 |
|   military  | 13.1159327785 |
| involvement | 12.7843852412 |
|   response  | 12.7843852412 |
|  democratic | 12.4106886973 |
+-------------+---------------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [22]:
clinton = people[people['name'] == 'Bill Clinton']

In [24]:
beckham = people[people['name'] == 'David Beckham']

In [25]:
graphlab.distances.cosine(obama['tfidf'][0], clinton['tfidf'][0])

0.8339854936884276

In [26]:
graphlab.distances.cosine(obama['tfidf'][0], beckham['tfidf'][0])

0.9791305844747478

* the smaller the consine distance is, the closer two iterms are

In [27]:
knn_model = graphlab.nearest_neighbors.create(people, 
                                              features=['tfidf'],
                                              label='name')

Starting brute force nearest neighbors model training.

In [28]:
knn_model.query(obama)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 22.016ms     |

| Done         |         | 100         | 415.295ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |   Barack Obama  |      0.0       |  1   |
|      0      |    Joe Biden    | 0.794117647059 |  2   |
|      0      |  Joe Lieberman  | 0.794685990338 |  3   |
|      0      |   Kelly Ayotte  | 0.811989100817 |  4   |
|      0      |   Bill Clinton  | 0.813852813853 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [29]:
swift = people[people['name'] == 'Taylor Swift']

In [30]:
knn_model.query(swift)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 17.513ms     |

| Done         |         | 100         | 310.721ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+----------------+------+
| query_label | reference_label  |    distance    | rank |
+-------------+------------------+----------------+------+
|      0      |   Taylor Swift   |      0.0       |  1   |
|      0      | Carrie Underwood | 0.76231884058  |  2   |
|      0      |   Alicia Keys    | 0.764705882353 |  3   |
|      0      |  Jordin Sparks   | 0.769633507853 |  4   |
|      0      |   Leona Lewis    | 0.776119402985 |  5   |
+-------------+------------------+----------------+------+
[5 rows x 4 columns]